{% load course %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    {% with course=module.course %}
        <h1>Course  "{{ course.title }}"</h1>
        <div class="content">
            <h3>Modules</h3>
            <ul id="modules">
                {% for m in course.modules.all %}
                    <li data-id="{{ m.id }}" {% if m == module %} class="selected" {% endif %}>
                        <a href="{% url 'courses:module_content_list' m.id %}">
                            <span>
                                Module <span class="order">{{ m.order|add:1 }}</span>
                            </span>
                            <br />
                            {{ m.title }}
                        </a>
                    </li>
                    {% empty %}
                    <li>No Modules Yet</li>
                {% endfor %}
            </ul>
            <p><a href="{% url 'courses:course_module_update' course.id %}">Edit Modules</a></p>
        </div>
        <div class="module">
            <h2>Module {{ module.order|add:1 }}: {{ module.title }}</h2>
            <h3>Module Content</h3>
            <div id="module-contents">
                {% for content in module.contents.all %}
                    <div data-id="{{ content.id }}">
                        {% with item=content.item %}
                            <p>{{ item }} ({{ item|model_name }})</p>
                            <a href="{% url 'courses:module_content_update' module.id item|model_name item.id%}">Edit</a>
                            <form action="{% url 'courses:module_content_delete' content.id %}" method="post">
                                <input type="Submit" value="Delete Content">
                                {% csrf_token %}
                            </form>
                            {% endwith %}
                    </div>
                    {% empty %}
                    <p>This module has no content yet</p>
                    {% endfor %}
            </div>
            <h3>Add new contents: </h3>
            <ul class="content-types">
                <li><a href="{% url 'courses:module_content_create' module.id 'text' %}">Text</a></li>
                <li><a href="{% url 'courses:module_content_create' module.id 'image' %}">Image</a></li>
                <li><a href="{% url 'courses:module_content_create' module.id 'video' %}">Video</a></li>
                <li><a href="{% url 'courses:module_content_create' module.id 'file' %}">File</a></li>
            </ul>
        </div>
    {% endwith %}
</body>
</html>

