{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block title %}
        {% if object %} Edit {{ object.first_name }} {% else %} Create Profile {% endif%} 
{% endblock %}
{% block content %}

<div class="main-content-inner">
    <div class="row">
    <div class="col-lg-6 col-ml-12">
        <div class="row">
            <h1 class="mt-3 mb-0">{% if object %} Edit "{{ object.first_name }}"{% endif %}</h1>
            <!-- Textual inputs start -->
            <div class="col-12 mt-3">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}        
                    <input type="submit" value="Edit" class="btn btn-block">              
            </form> 
            </div>
        
    </div>
</div>
{% endblock %}