<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="page-wrapper">
        <div class="row">
            <div class="continer-fluid">
                <div class="row">
                    <h3>Upload File</h3>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="studentprofile">
                        <br>
                        <button type="submit" class="btn btn-success">Upload</button>
                    </form>
                    {% if messages %}
                    <h4>File Sucessfully uploaded</h4>
                    {% endif %}                
                </div>
            </div>
        </div>
    </div>
</body>
</html>
