{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ block.super }} | Edit Content {% endblock %}
{% block content %}

<div class="main-content-inner">
  <div class="row"> 
     <div class="col-lg-6 col-ml-12">
        <div class="row">
          <div class="col-12 mt-5">
                <h1>
                        {% if object %}
                            Edit content "{{ object.title }}"
                        {% else %}
                            Add a new content
                        {% endif %}
                    </h1>
                    <div>
                        <h2>Course Info</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" value="Save Content">
                        </form>
                    </div>
            
         </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}