<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>
            {% if object %}
                Edit content "{{ object.title }}"
            {% else %}
                Add a new content
            {% endif %}
        </h1>
        <div>
            <h2>Course Info</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save Content">
            </form>
        </div>
</body>
</html>
