[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.6"
gunicorn = "*"
whitenoise = "*"
django-crispy-forms = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
