[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.6"
gunicorn = "*"
whitenoise = "*"
django-crispy-forms = "*"
pillow = "*"
"psycopg2" = "==2.7.4"
dj-database-url = "==0.5.0"

[dev-packages]

[requires]
python_version = "3.7"
