<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if object %}
                Edit "{{ object.title }}" 
           {% else %}
            Create Course
           {% endif %}</title>
</head>
<body>
    <h3>
        {% if object %}
            Edit "{{ object.title }}"
        {% else %}
        Create New Course 
        {% endif %}
    </h3>
        <h3>Create Course</h3>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}

            <input type="submit" value="Create form">
        </form>
</body>
</html>