{% extends 'base.html' %}
{% block content %}
<div class="main-content">
{% for course in object_list %}
<div class="main-content-inner">
        <div class="row">
            <div class="col-lg-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <div class="invoice-area">
                            <div class="invoice-head">
                                <div class="row">
                                    <div class="iv-left col-6">
                                        <span>INVOICE</span>
                                    </div>
                                    <div class="iv-right col-6 text-md-right">
                                        <span>#34445998</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="invoice-address">
                                        <h3>invoiced to</h3>
                                        <h5>Verdie Hintz</h5>
                                        <p>4494 Weekley Street, San Antonio, 78205 Texas</p>
                                        <p>San Antonio</p>
                                        <p>Somalia</p>
                                    </div>
                                </div>
                                <div class="col-md-6 text-md-right">
                                    <ul class="invoice-date">
                                        <li>Invoice Date : sat 18 | 07 | 2018</li>
                                        <li>Due Date : sat 18 | 07 | 2018</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-buttons text-right">
                            <a href="#" class="invoice-btn">print invoice</a>
                            <a href="#" class="invoice-btn">send invoice</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
    <h3>Course List</h3>
    {% for course in object_list %}
        <h3>{{ course.title }}</h3>
        <p>
            <!-- <a href="{% url 'courses:course_create_view' %}">Create Course</a> -->
            <a href="{% url 'courses:course_edit_view' course.id%}">Edit Course</a>
            <a href="{% url 'courses:course_module_update' course.id %}">Edit Modules</a>
            {% if course.modules.count > 0 %}
                <a href="{% url 'courses:module_content_list' course.modules.first.id %}">Manage Contents</a>
            {% endif %}
            <a href="{% url 'courses:course_delete_view' course.id %}">Delete Course</a>

        </p>
    {% empty %}
    <p>You haven't Created An Course Yet</p>
    {% endfor %}
    <p><a href="{% url 'courses:course_create_view' %}">Create New Course</a></p>
{% endblock %}
