{% extends 'base.html' %}
{% block title %} {{ block.super }} | Dashboard | Courses Created  {% endblock %}

{% block navbar %}
{% endblock %}
{% block content %}
<div class="main-content">

<!-- header area start -->
<div class="header-area">
        <div class="row align-items-center">
            <!-- nav and search button -->
            <div class="col-md-6 col-sm-8 clearfix">
                <div class="nav-btn pull-left">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="search-box pull-left">
                    <form action="#">
                        <input type="text" name="search" placeholder="Search..." required>
                        <i class="ti-search"></i>
                    </form>
                </div>
            </div>
            <!-- profile info & task notification -->
            <div class="col-md-6 col-sm-4 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                    <li class="dropdown">
                        <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                            <span>2</span>
                        </i>
                        <div class="dropdown-menu bell-notify-box notify-box">
                            <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                            <div class="nofity-list">
                                <a href="#" class="notify-item">
                                    <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                    <div class="notify-text">
                                        <p>You have Changed Your Password</p>
                                        <span>Just Now</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>3</span></i>
                        <div class="dropdown-menu notify-box nt-enveloper-box">
                            <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                            <div class="nofity-list">
                                <!-- <a href="#" class="notify-item">
                                    <div class="notify-thumb">
                                        <img src="assets/images/author/author-img3.jpg" alt="image">
                                    </div>
                                    <div class="notify-text">
                                        <p>Aglae Mayer</p>
                                        <span class="msg">I missed you so much...</span>
                                        <span>3:15 PM</span>
                                    </div>
                                </a>
                                    -->
                            </div>
                        </div>
                    </li>
                    <li class="settings-btn">
                        <i class="ti-settings"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- header area end -->
    <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">
                            Courses created by {{ request.user.teacherprofile.first_name }} {{ request.user.teacherprofile.other_name }} {{ request.user.teacherprofile.last_name }}
                        </h4>
                        <ul class="breadcrumbs pull-left">
                            <li><span>{{ request.user }}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right">
                        <img class="avatar user-thumb" src="{{request.user.teacherprofile.mugshot.url}}" alt="avatar">
                        <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{ request.user.teacherprofile.first_name }}<i class="fa fa-angle-down"></i></h4>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'teacher_profile:teacher_profile_edit' request.user.teacherprofile.pk %}">Edit Profile</a>
                            <a class="dropdown-item" href="{% url 'account:logout'%}">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    
<div class="main-content-inner">
            <!-- Course List -->
        <div class="row">
            {% for course in object_list %}
            <div class="col-xl-4 col-ml-6 col-mdl-4 col-sm-6 mt-5">
                <div class="card">
                    <div class="pricing-list dark-pricing">
                        <div class="prc-head">
                            <h4>{{ course.title }}</h4>
                        </div>
                        <div class="prc-list">
                            <ul>
                                <li class="bold"><a href="{% url 'courses:course_edit_view' course.id%}">Edit Course</a></li>
                                <li class="bold"><a href="{% url 'courses:course_module_update' course.id %}">Edit Modules</a></li>
                                {% if course.modules.count > 0 %}
                                <li class="bold"><a href="{% url 'courses:module_content_list' course.modules.first.id %}">Manage Content</a></li>
                                {% endif %}
                                <li class="bold"><a href="{% url 'courses:course_delete_view' course.id %}">Delete Course</a></li>
                            </ul>
                            <a href="{% url 'courses:course_detail_view' course.slug %}">View Content</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>You haven't Created An Course Yet</p>       
            <p><a href="{% url 'courses:course_create_view' %}">Create New Course</a></p>       
            {% endfor %}
        </div>
        <!-- dark pricing end -->
</div>
</div>
 </div>
</div>
{% endblock %}