<!DOCTYPE html>
{% load staticfiles %}
{% load crispy_forms_tags %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
</head>
<body>
    
<div class="container">
    <!-- form card login -->
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 mt-5">
            <div class="card rounded-0  mt-5">
                <div class="card-header">
                    <h3 class="mb-0">SMS.ng Login</h3>
                </div>
                <div class="card-body">
                    <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                        {% csrf_token  %}
                        {{ form|crispy }}
                        <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input">
                              Remember me on this computer
                            </label>
                          </div>
                        <button type="submit" class="btn float-right login_btn" id="btnLogin">Login</button>
                    </form>
                </div>
            </div>
        </div>
    <!-- /form card login -->
            
    </div>
    </div>

    <script src="{% static 'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>

</html>
