{% extends 'base.html' %}
{% load staticfiles %} 
{% block title %} {{ block.super }} | Dashboard {% endblock %}
{% block content %}

    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
            <!-- main content area start -->
            <div class="main-content">
                <!-- header area start -->
                <div class="header-area">
                    <div class="row align-items-center">
                        <!-- nav and search button -->
                        <div class="col-md-6 col-sm-8 clearfix">
                            <div class="nav-btn pull-left">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="search-box pull-left">
                                <form action="#">
                                    <input type="text" name="search" placeholder="Search..." required>
                                    <i class="ti-search"></i>
                                </form>
                            </div>
                        </div>
                        <!-- profile info & task notification -->
                        <div class="col-md-6 col-sm-4 clearfix">
                            <ul class="notification-area pull-right">
                                <li id="full-view"><i class="ti-fullscreen"></i></li>
                                <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                                <li class="dropdown">
                                    <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                        <span>2</span>
                                    </i>
                                    <div class="dropdown-menu bell-notify-box notify-box">
                                        <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                        <div class="nofity-list">
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                                <div class="notify-text">
                                                    <p>You have Changed Your Password</p>
                                                    <span>Just Now</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>3</span></i>
                                    <div class="dropdown-menu notify-box nt-enveloper-box">
                                        <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                        <div class="nofity-list">
                                            <!-- <a href="#" class="notify-item">
                                                <div class="notify-thumb">
                                                    <img src="assets/images/author/author-img3.jpg" alt="image">
                                                </div>
                                                <div class="notify-text">
                                                    <p>Aglae Mayer</p>
                                                    <span class="msg">I missed you so much...</span>
                                                    <span>3:15 PM</span>
                                                </div>
                                            </a>
                                             -->
                                        </div>
                                    </div>
                                </li>
                                <li class="settings-btn">
                                    <i class="ti-settings"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- header area end -->
                <!-- page title area start -->
                <div class="page-title-area">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="breadcrumbs-area clearfix">
                                <h4 class="page-title pull-left">Dashboard</h4>
                                <ul class="breadcrumbs pull-left">
                                    {% if request.user.teacherprofile %}
                                    <li><span>{{ request.user.teacherprofile.first_name }} {{ request.user.teacherprofile.last_name }}</span></li>
                                    {% else %}
                                    <li><span>{{ request.user.studentprofile.first_name }} {{ request.user.studentprofile.last_name }}</span></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <div class="user-profile pull-right">
                                {% if request.user.studentprofile %}
                                    <img class="avatar user-thumb" src="{{ request.user.studentprofile.mugshot.url }}" alt="avatar">
                                {% else %}
                                <img class="avatar user-thumb" src="{{ request.user.teacherprofile.mugshot.url }}" alt="avatar">
                                {% endif %}
                                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{ request.user }}<i class="fa fa-angle-down"></i></h4>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Edit Profile</a>
                                    <a class="dropdown-item" href="{% url 'account:logout'%}">Log Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- page title area end -->
                <div class="main-content-inner">
                    <div class="row">
                        <!-- seo fact area start -->
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-6 mt-5 mb-3">
                                    <div class="card">
                                        <div class="seo-fact sbg1">
                                            <a {% if request.user.teacherprofile %}  href="{% url 'courses:manage_course_list'%}" {% else %} href="{% url 'courses:course_list_view'%}" {% endif %}>
                                                <div class="p-4 d-flex justify-content-between align-items-center">
                                                        <div class="seofct-icon"><i class="fa fa-book"></i> Your Courses</div>
                                                        <h2>
                                                            {{request.user.teacherprofile.courses_created.count }}
                                                        </h2>
                                                    </div>
                                                    <canvas id="seolinechart1" height="50"></canvas>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-md-5 mb-3">
                                    <div class="card">
                                        <div class="seo-fact sbg2">
                                            <div class="p-4 d-flex justify-content-between align-items-center">
                                                <div class="seofct-icon"><i class="ti-share"></i>Check Performance</div>
                                                <!-- <h2>0</h2> -->
                                            </div>
                                            <canvas id="seolinechart2" height="50"></canvas>
                                        </div>
                                    </div>
                                </div>
                                {% if request.user.is_admin %}
                                <div class="col-md-6 mb-3 mb-lg-0">
                                    <div class="card">
                                        <div class="seo-fact sbg3">
                                            <div class="p-4 d-flex justify-content-between align-items-center">
                                                <div class="seofct-icon">Impressions</div>
                                                <canvas id="seolinechart3" height="60"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if request.user.is_admin %}
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="seo-fact sbg4">
                                            <div class="p-4 d-flex justify-content-between align-items-center">
                                                <div class="seofct-icon">New Users</div>
                                                <canvas id="seolinechart4" height="60"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- seo fact area end -->
                        {% if request.user.is_admin %}
                        <!-- Social Campain area start -->
                        <div class="col-lg-4 mt-5">
                            <div class="card">
                                <div class="card-body pb-0">
                                    <h4 class="header-title">Social ads Campain</h4>
                                    <div id="socialads" style="height: 245px;"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                        <!-- Social Campain area end -->
                        <!-- Statistics area start -->
                        {% if request.user.teacherprofile %}
                        <div class="col-lg-8 mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">User Statistics</h4>
                                    <div id="user-statistics"></div>
                                </div>
                            </div>
                        </div>
                   {% endif %}
                        <!-- Statistics area end -->
                        <!-- Advertising area start -->
                        {% if request.user.is_admin %}
                        <div class="col-lg-4 mt-5">
                            <div class="card h-full">
                                <div class="card-body">
                                    <h4 class="header-title">Advertising & Marketing</h4>
                                    <canvas id="seolinechart8" height="233"></canvas>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Advertising area end -->
                        <!-- sales area start -->
                        <div class="col-xl-9 col-ml-8 col-lg-8 mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">Sales</h4>
                                    <div id="salesanalytic"></div>
                                </div>
                            </div>
                        </div>
                        <!-- sales area end -->
                        <!-- timeline area start -->
                        <div class="col-xl-3 col-ml-4 col-lg-4 mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">Timeline</h4>
                                    <div class="timeline-area">
                                        <div class="timeline-task">
                                            <div class="icon bg1">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="tm-title">
                                                <h4>Rashed sent you an email</h4>
                                                <span class="time"><i class="ti-time"></i>09:35</span>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- timeline area end -->
                        <!-- map area start -->
                        <div class="col-xl-5 col-lg-12 mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">Marketing Area</h4>
                                    <div id="seomap"></div>
                                </div>
                            </div>
                        </div>

                        <!-- map area end -->
                       {% endif %}
            </div>
                </div>
            </div>
            <!-- main content area end -->
            <!-- footer area start-->
            <footer>
                <div class="footer-area">
                    <p>© Copyright {% now "Y" %}. All right reserved</p>
                </div>
            </footer>
            <!-- footer area end-->
        <!-- page container area end -->


        <!-- offset area start -->
        <!--  -->
{% endblock %}

