{% extends 'base.html'%}
{% block title %} Delete '{{ object.user }}' {% endblock %}

{% block content %}

<div class="main-content-inner">
        <div class="row">
        <div class="col-lg-6 col-ml-12">
            <div class="row">
                <h1>{% if object %} Delete "{{ object.user }}"{% endif %}</h1>
                <!-- Textual inputs start -->
                <div class="col-12 mt-5">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>Are You Sure You Want To Delete "{{ object }}"?</p>
                        <input type="submit" value="Confirm" class="btn btn-danger">              
                </form> 
                </div>
            
        </div>
    </div>
    </div>
    </div>
{% endblock %}